<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=TRGOLIJC0004;Initial Catalog=tatigo_Broadcast;User Id=tatigo;Password=tatigo;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceNumber" value="1"/>
    <add key="DataServerName" value="C:\"/>
    <!--<add key="DataServerName" value="test.rebex.net"/>-->
    <!--<add key="DataServerName" value="10.204.139.53"/>-->

    <!--<add key="FileRenamingOn" value="0"/>-->
    <add key="FileRenamingOn" value="1"/>
  </appSettings>
  <log4net>
    <root>
      <!--<level value="OFF"/>-->
      <!--<level value="ALL"/>-->
      <!--<level value="FATAL"/>-->
      <!--<level value="ERROR"/>-->
      <!--<level value="WARN"/>-->
      <!--<level value="INFO"/>-->
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file type="log4net.Util.PatternString" value="..\..\Logs\LogJITMEssageProcessor_%date{yyyyMMdd}.log" />-->
      <file type="log4net.Util.PatternString" value="Logs\%property{LogName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="5000KB"/>
      <staticLogFileName value="true"/>
      <countDirection value="1"/>
      <datePattern value=".yyyy-MM-dd"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="%newline[Log Starts]"/>
        <footer type="log4net.Util.PatternString" value="%newline[Log Ends]"/>
        <conversionPattern value="%d{yyyy-MM-dd HH:mm} %-5level %logger %message%newline%exception"/>
      </layout>
    </appender>
  </log4net>
</configuration>
